/* Styling for the whole page */
html {
    background: blue; /* fallback color */
    background: linear-gradient( to bottom right, blue, purple);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Styling for the header */
.header {
  padding: 10px;
  text-align: center;
  color: white; /* potentially change */
}

/* Changes font size of heading */
.header h1 {
  font-size: 40px;
  color: white;
}

/* Styling for body text */
h1 {
  font-size: 36px;
  color: white;
  text-align: center;
  margin: 10px;
}

h2 {
  font-size: 30px;
  color: white;
  text-align:center;
  margin: 0;
}

/* Styling for the body */
body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; 
  font-size: 22px;
  margin: 0;
}

/* Styling for the menu */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styling the footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd; /* change */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}